<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Language Resource Switchboard</title>
    <link rel="icon" href="/favicon.ico">

    <link rel="stylesheet" href="{{appContextPath}}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{appContextPath}}/css/fontawesome-all.min.css">

    <script>window.APP_CONTEXT_PATH="{{appContextPath}}";</script>

{{#data}}
    <script>window.SWITCHBOARD_DATA={{{data}}};</script>
{{/data}}

</head>
<body>
    <div id='reactapp'>
        <noscript><p>This site requires JavaScript.</p></noscript>
    </div>
    <script src="{{appContextPath}}/bundle.js"></script>
    <script type="text/javascript">
        // <!-- Matomo -->
        var _paq = window._paq || [];
        _paq.push(["setDomains", [
            "*.weblicht.sfs.uni-tuebingen.de/switchboard-test",
            "switchboard.clarin-dev.eu",
            "beta-switchboard.clarin.eu",
            "switchboard.clarin.eu"
        ]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://stats.clarin.eu/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', 21]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js';
            s.parentNode.insertBefore(g,s);
        })();
    </script>
</body>
</html>
