@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format('woff');
}

body {
  background: cornsilk;

  /* font-family: sans-serif; */
  font-family: 'Source Sans Pro', sans-serif; 
}

h2 {
    text-align: left;		 
}

.page-header {
  color: #fff;
  text-align: center;
  padding: 2rem 2rem; 
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
}

.project-tagline {
  font-size: 1.2rem;    
  margin-bottom: 1.2rem;
  font-weight: normal;
  opacity: 0.7;
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

.page-footer {
  color: #aaa;
  text-align: center;
  padding: 1rem 0rem;
  font-size: 1rem;
  background-color: #159957;
  background-image: linear-gradient(20deg, #155799, #159957);
}

.site-footer-owner {
  font-size: 1rem;    
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }

.resource-name:link {
     color: black;
}

.resource-name:visited {
    color: green;
}

.resource-name:hover {
    color: green;
}

.relativeDiv {
  position: relative;
}

.inputAbsolute {
  position: absolute;
  bottom: 2px;
  right: 30px;
  background-color: #000;
  color: white;
  border: 2px solid #fff;  
}

.dropAreaTable {
    margin-left: 20px
}

.dropArea {
    borderWidth: 2;
    borderColor: 'black';
    borderStyle: 'dashed';
    borderRadius: 4;
    margin: 30;
    padding: 30;
    width: 200;
    transition: 'all 0.5s'  
}

.dropAreaText {
    text-align: center;
    padding-top: 4em;
    padding-botton: 4em;
}

.alignLeft {
    float: left;
    padding-right: 4em;
}
.alignRight {
    float: right;
    padding-left: 2em;
}


.resource {
  display: inline-block;

  margin: 2em;

  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 20em;
  vertical-align: top;
}

.tool {
  display: inline-block;

  margin: 10em;

  background-color: #afafaf;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 50em;
  vertical-align: top;
}

.inputZone[disabled] {
    cursor: not-allowed
}

.allTools {
  display: inline-block;
  background-color: #afafaf;
  margin: 10px;

  border: 3px solid #ccc;
  border-radius: 0.5em;
  cursor: pointer;    

  min-width: 7em;
  vertical-align: center;
}

.task {
  display: inline-block;

  margin: 10em;

  background-color: #bfbfbf;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 50em;
  vertical-align: top;
}

.resource-header {
  overflow: auto;

  padding: 1em;

  color: #efefef;
  background-color: #222;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.taskHead {
    padding-left: 1em;
    padding-top: 1em;
}
    
.tool-header, .task-header {
  overflow: auto;

  padding:1em;

  color: #afafaf;
  background-color: #33;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.resource-name, .tool-name {
    float: center;
    /*
    color: #fff;
    */
    display: block;
    padding-right: 1em;    
}

.task-name {
    padding-left: 1em;
    padding-right: 2em;
    min-width: 20em;    
}

.resource-footer {
  float: right;
  margin-left: 0.5em;
  margin-top: 0.5em;  
}

.add-resource, .resource-footer button {
    background-color: #000;
    color: white;
    /*
    border: 2px solid #ccc;
    */
}


.notes, .resources, .tasks {
  margin: 0.5em;
  padding-left: 0;

  max-width: 40em;
  list-style: none;
}


.note {
  margin-bottom: 0.5em;
  padding: 1em;
  width: 200px;
  background-color: #fdfdfd;
}


.note .delete {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;

  visibility: hidden;
}

.fa-trash {
    cursor: pointer;
}
    
.header-link {
    cursor: pointer;
}

.logoAlignLeft {
    align: left;
}


.logoAlignRight {
    align: right;
}

.card-header-details .icon::before {
    position: relative;
  right: 7px;
  top: 10px; }

.task-oriented-view-container {
  padding: 20px;
  width: 100%; }

.task-oriented-view container h1 {
    border-bottom: 1px solid #ccc;
    color: #03a9f4;
    margin-bottom: 40px;
    padding-bottom: 40px;
    text-align: center; }

.task-oriented-view-container h1 {
    color: #aaa;
    font-size: 1.00rem;    
}

.tooltip {
  background-color: #000;
  bottom: 10px;
  border-radius: 3px;
  color: #fff;
  left: 10px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity .3s;
}

