/* ==========================================================================
main.css -- Version: 1.0.0.0 - Updated: 05/02/16 15:25
========================================================================== */
@charset "UTF-8";
/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/** Basic styling */
body {
    font-family:"Source Sans Pro", Calibri, Arial, Helvetica, sans-serif;
    font-size: 110%;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
    background-color: #f7f7f7;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-top: 1.5em;
    margin-bottom: 1.1em;
}
h2+p, h3+p {
margin-top: -1em;
}
/** Colors */
/* turqoise blue */
.clr2 {
	color: #0080AA;
}
.clr2-bg {
	background-color: #0080AA;
}
/* green */
.clr3 {
	color: #A2C037;
}
.clr3-bg {
	background-color: #A2C037;
}

/** Media */
img {
    max-width: 100%;
    vertical-align: middle;
}

/** Lists */
ul, ol {
    /*margin-left: 30px;*/
}
li > ul, li > ol {
    /*margin-bottom: 0;*/
}
li {
  color: #0080AA;
}
li>a {
  color: #0080AA;
}

/** Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600; /* 300=light 400=nor 600=semi-bold 700=bold */
	color: #A2C037;
	-webkit-font-smoothing: antialiased;
}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

/** Links */
a {
    color: #0080AA; /* rgb(0,128,170); */
    text-decoration: none;
/*     font-weight: normal; */
}
a:visited {
    color: #3399BB; /* 80% */
}
a:hover {
    color: #aaa;
    text-decoration: underline;
}
a[href="#contents"] {
	float: right;
	font-size: 0.8em;
	margin: 2em 0;
	width: 100%;
	text-align: right;
	}
/** buttons */
.btn {
  color: #fff;
  background: #A2C037;
  margin: 1em;
  padding: 0.5em 1em;
  max-width: 12em;
  border: 0;
  font-size: 1em;
  font-family:"Source Sans Pro", Calibri, Arial, Helvetica, sans-serif;
}
.btn:hover {
  background: #C7D987;
  color: #555;
}
/** Main navigation */
nav.nav-main {
}
nav.nav-main ul {
}
nav.nav-main ul li {
  background: #0080AA;
  margin: 0.2em 0;
  padding: 0.25em 1em;
  max-width: 12em;
  list-style-type: none;
  float: left;
  border-right: 1px solid #fff;
}
nav.nav-main ul li a {
  color: #fff;
}
nav.nav-main ul li:hover {
  background: #99CCDD;
}
nav.nav-main ul li a:hover {
  text-decoration: none;
  color: #555;
}
nav.contents ol {
  list-style-position: inside;
}
nav.contents ol li a{
  margin-left: 1em;
}
/** Sidebar navigation */
.sidebar {
	border: 1px dashed #ccc;
}
.sidebar h2 {
	margin: 0 0 -5px 10px;
}
.sidebar li {
/*  border-radius: 3px; */
	color: #fff;
/*  background: #A2C037; */
    margin: 5px 1px 3px 0;
    padding:5px 10px;
    max-width: 14em;
    list-style-type: none;
}

/** Front page blocks */
  .blocks-view {
	border: 1px dashed #ccc;
    max-width:350px;
  }
  .blocks-view h2 {
    color: #fff;
    background-color: #A2C037;
  	margin: 0;
    text-align: center;
  }
  .blocks-view h3 {
    line-height: 1.3;
    margin: 1em 0;
  }
  img.frame-1 {
    height:174px;
    max-width:157px;
    float: right;
    margin-left:5px;
  }

 /** Featured */
  .featured {
    background:#A2C037  ;
    color:#fff;
    padding:0 25px;
    overflow: hidden;
    font-size: 0.9em;
  }
  .featured h3 {
    font-size:20px;
    color: #fff;
    margin: 15px 0 15px 0;
  }
  .featured a {
    color: inherit;
    text-decoration: underline;
  }
  .ft-image {
    background: mintcream; /*rgba(162, 192, 55, 0.5);*/
    border: 1px solid #fff;
    float:left;
    margin:25px 25px 25px 0 ;
    min-width:70%;
    height:250px;
  }

/** The background element */
  .back {
	border: 1px dashed #ccc;
    background-color: #fff;
    background-image: url(/images/Clarin-patroon3green1.png );
    background-repeat: repeat;
    background-position: 10px 110px;
    max-width: 920px;
    margin-top: 50px;
    padding: 15px;
  }

/** Blockquotes or Streamers */
blockquote, .streamer {
    font-family: "Roboto Slab";
    font-weight: normal;
    max-width: 180px;
    text-align: center;
    font-size: 28px;
    background: transparent;
    color: #a2c037;
    line-height: 1.3;
  }


/** Code formatting */
pre, code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
}
pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

/** Wrapper */
.wrapper {
    margin: 1em auto;
    width: 95%;
    max-width: 920px;
    margin-bottom: 5em;
}

/** Site header */
.site-header {
    background: #0080AA;
    padding: 3em;
}
.site-header h1, .site-header h2 {
    color: #fff;
    font-weight: 700;
    margin: 0.5em 0;
}

/** Site footer */
.site-footer-main {
    padding: 1.5em;
    background-color: #99CCDD;
    color: #555;
    font-size: 0.5em;
    margin-top: 5em;
}
.site-footer-main a {
    color: #6CBCCA;
}
.site-footer-main a:hover, .site-footer-main a:focus {
    color: #5595A0;
}

.fontimg {
	margin: 3em 0;
	}
.changes {
  font-size: 80%;
}

/** Page content */
.page-content {
    padding: 30px 0;
}

.page-heading {
    font-size: 20px;
}

.hidden, .hide {
    /* technique via http://webaim.org/techniques/css/invisiblecontent/ */
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

  .logo {
	margin-right: 2em;
	display: inline-block;
	vertical-align: middle;
  }


.xx-swatches {
    padding: 0;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 2em;
    margin-left: 0;
}

.xx-swatch {
    float: left;
    width: 15em;
    margin-right: 1em;
    list-style-type: none;
    font-size: 0.8em;
    line-height: 1.2em;
    margin-bottom: 1em;
    background-color: #fff;
    height: 19em;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.xx-swatch-details {
    padding: 0.7em 5% 0;
    margin-bottom: 0.5em;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 90%;
    color: #999;
}

.xx-swatch-details code {
    display: table;
    clear: both;
    margin: 0.25em 0 0 0;
    width: 100%;
}

.xx-swatch-preview {
    height: 5em;
    width: 103%;
    display: table-cell;
    margin-bottom: 0.5em;
    border-radius: 3px 3px 0 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    line-height: 1.1;
    vertical-align: middle;
    overflow: hidden;
    float: none;
    position: absolute;
    top: -0.25em;
    left: -1.5%;
    right: -1.5%;
    background-color: black;
    color: white;
}

