/* to set footer at page bottom */
html, body, #reactapp { height: 100%; }
body { overflow-x:hidden; }
#bodycontainer {
    height: auto;
    min-height: 100%;
    padding-bottom: 80px;
}
#footer {
    clear: both;
    position: relative;
    height: 80px;
    margin-top: -80px;
    padding-top: 20px;
    border-top: 1px solid #d5d5d5;
    background-color: #eee;
    color: #777;
}

/* large text on body */
body {font-size: 16px}
#footer *, nav * {font-size: 14px}

/* headers should not have the same color as links */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: black;
}

/* fix links without href (with onClick) */
a { cursor: pointer }

/* visual bug fix */
.input-group input.form-control {
    z-index: 0;
}

/* margins for tab children */
div.input .tab-child {
    margin-top: 1em;
}

/* file drop input textarea style */
div.input button.dropzone {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 3px dashed #888;
    border-radius: 16px;
    box-shadow: 2px 2px 5px #ccc;
}
div.input button.dropzone:hover{
    border: 3px dashed #006d91;
    box-shadow: 0 0 8px #006d91;
}
div.input button.dropzone.active {
    border: 3px dashed #0080aa;
    box-shadow: 0 0 8px #0080aa;
}


/* text/url input textarea style */
div.input form.linkinput {
    margin-bottom:20px;
}

div.input textarea.inputzone {
    padding: 10px;
    color: black;
    border: 1px solid #ccc;
}
div.input form {
    box-shadow: 2px 2px 5px #ccc;
}


/* resource table style */
div.resource {
    padding: 0;
}

div.resource .resource-header {
    font-size: 20px;
    margin: 0 0 6px 0;
}

div.resource .namesize {
    font-size: 20px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

div.resource .content {
    font-size: 20px;
    color: #11203f;
    background-color: #f0f0ff;
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

div.resource .namesize span {
    color: #555;
}

div.more-data-button {
    padding-bottom: 1em;
}
div.more-data-pane {
    border: 2px solid #008;
    padding: 1em;
    border-radius: 4px;
}
div.more-data-button .glyphicon, div.more-data-pane .glyphicon {
    font-size: 80%;
}

/* transitions for matching tools */
.smooth-update {
    animation: fadein .2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* tools styles */
div.tool-sublist h3 {
    margin: 0;
    padding: 10px 0;
    font-family: "Source Sans Pro",Calibri,Arial,Helvetica,sans-serif;
    font-size: 20px;
    color: #033d71;
    background-color: #f3f9fc;
}
div.tool-sublist h3:hover {
    background-color: #eee;
}
div.tool-sublist h3 .section-left-padding {
    padding-left: 10px;
}

div.tool {
    padding: 8px 0;
}

div.tool:hover {
    background-color: #f6f6f6;
}

div.tool .toolheader > *{
    vertical-align:middle;
}

div.tool .toolheader .tool-chevron {
    font-size: 80%;
    margin-right: 0;
    color: #444;
}
div.tool .toolheader .tool-starter {
    font-size: 90%;
    margin-right: 0;
    margin-left: 2px;
}

div.tool .toolheader .label {
    padding: 2px 4px;
    margin-right: 8px;
}

div.tool .img-holder {
    width: 160px;
    height: 2em;
    margin-right: 1em;
    text-align: right;
    display:inline-block;
}

div.tool .img-holder img {
    border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px #ccc;
    max-width: 160px;
    max-height: 2em;
    background-color: white;
}

div.tool .name-and-badges {
    display: inline-block;
}

div.tool .badges {
    display: inline;
}

div.tool .badge-holder {
    margin-left: 6px;
    margin-right: 6px;
    display: inline;
}

div.tool .badge-holder > span {
    border-radius: 16px;
    border: 1px solid #bbb;
    padding: 4px;
    margin: 0;
    background-color: #f8f8f8;
    font-size:80%;
}

div.tool .badge-holder.manual > span {
    color: #088;
}

div.tool .badge-holder.auth > span {
    color: #e83;
}

div.tool .badge-holder.standalone > span {
    color: #38e;
}

div.tool .dl-horizontal {
    margin-top:8px;
    margin-bottom:0;
}

div.tool .btn {
    margin-right:8px
}

div.tool hr {
    margin-top: 10px;
    margin-bottom: 0;
}

div.tool .inputclass {
    font-weight: bold;
    font-size: 90%;
}
div.tool .resource-index {
    font-style: italic;
    font-weight: bold;
}

div.tool .keyword {
    border: 1px solid #c9edf7;
    background-color: #f0f8ff;
    padding: 2px 4px;
    margin-right: 4px;
}

/* highlight search matches e.g. in tools */
.highlight {
    background-color: yellow;
}

.tool-list-with-controls h2 {
    margin-top:0;
}

/* custom form css instead of using bootstrap's css
   which breaks the "floating: right" behaviour */
.tool-list-with-controls form.controls {
    /*margin-top:1em;*/
}
.tool-list-with-controls form.controls label {
    white-space: nowrap;
    vertical-align: middle;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
    color: #555;
    text-align: center;
    background-color: #f0f0f0;
    padding-right:26px;
    margin-right:-22px;
}
.tool-list-with-controls form.controls input[type=checkbox] {
    margin-right:14px;
    line-height:1.2em;
    vertical-align: text-top;
}
.tool-list-with-controls form.controls input[type=text] {
    padding: 4px 12px;
    line-height:1.5em;
    border: 1px solid #ddd;
}

@media (min-width: 992px) {
    div.resource .namesize {
        margin-top: 1.2em;
    }
}

@media (max-width: 768px) {
    div.resource .value {
        margin-bottom:0.5em;
    }
    div.resource hr {
        margin:0;
    }
    div.tool .badges {
        position: absolute;
        right: 15px;
    }
}

/* phones and popup */
@media (max-width: 375px) {
    div.tool.match .name-and-badges {
        max-width: 200px;
    }
}

